body{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.container{
    display: flex;
    flex-direction: column;
}
.navbar{
    display: flex;
    align-items: center;
    background-color: #1f2937;
    padding: 20px 0px 20px 100px;
}
.logo{
    display: flex;
    margin-right: auto;
    width: 84px;
    height: 84px;
    color: white;
}
.links{
    display: flex;
    margin-left: auto;
    padding-right: 100px;
}
.links a{
    text-decoration: none;
    color: white;
    padding: 20px;
}